<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ultramarket">
    <!-- check network connectivity permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_ultra_market"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.adminLayer.BrandActivity" android:label="Brand"/>
        <activity android:name=".ui.adminLayer.BrandsManagementActivity" android:label="Brands Management" />
        <activity
            android:name=".ui.adminLayer.WarehouseActivity"
            android:label="Warehouse" />
        <activity
            android:name=".ui.userUi.Activities.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.userUi.Activities.UserProfile"
            android:parentActivityName=".ui.userUi.Activities.HomeActivity" />
        <activity android:name=".ui.userUi.Activities.LocationActivity" />
        <activity
            android:name=".ui.adminLayer.CustomersActivity"
            android:label="Customers" />
        <activity
            android:name=".ui.userUi.Activities.HomeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.adminLayer.AdminHomeActivity"
            android:label="Home">
        </activity>
    </application>

</manifest>